<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  />
</head>

<mat-toolbar color="primary" id="l">
  <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon id="n">menu</mat-icon>
  </button><i class="fas fa-dice icon icon-dice"></i>
  Little Linguist
  <i class="fas fa-gamepad icon icon-rotate icon-gamepad"></i>
  <span class="example-spacer"></span>
  <mat-icon id="v">perm_identity</mat-icon>
</mat-toolbar>
<mat-menu #menu="matMenu">
<button mat-menu-item routerLink="" id="a"><mat-icon> contacts</mat-icon>Admin</button>
<button mat-menu-item routerLink="choose" id="s"><mat-icon>casino</mat-icon>Let's Play</button>
</mat-menu>
