.example-spacer {
  flex: 1 1 auto;
}

#l {
  text-align: center;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  background-color: hwb(210 47% 2%); 
  color: rgb(232, 9, 28);
  padding: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#l button {
  color: rgb(217, 16, 96);
}

#l span {
  font-size: 24px;
  font-weight: bold; 
}


#a:hover {
  background-color: #e6d357;
}


 #a {
  color: #0bed2d;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#s:hover {
  background-color: #1ad8ac;
}


 #s {
  color: #4f0bed;

  font-family: Georgia, 'Times New Roman', Times, serif;
}

#z{
  color: rgb(115, 223, 21);
  font-size: 24px;
  
}

.icon {
  font-size: 30px;
  margin: 0 10px;
  animation: bounce 2s infinite;
}

.icon-dice {
  color: #9808eb;
 
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.icon-gamepad {
  color: #3112e1;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon-rotate {
  animation: rotate 2s linear infinite;
}
