.add-button-container {
  display: flex;
  justify-content: center;
}



table.mat-table {
  width: 100%; 
  border-collapse: collapse;
}

.mat-table td, .mat-table th {
  padding: 12px; 
  text-align: left;
  border-bottom: 1px solid #bcbc17;
}

.mat-table th {
  background-color: #f2f2f2;
}

.add-button-container {
  display: flex; 
  justify-content: flex-end; 
  margin-top: 20px;
}

.add-button-container button.mat-fab-button {
  background-color: #4CAF50; 
  color: white; 
  border: none;
  border-radius: 50%; 
  padding: 16px 20px;
  font-size: 24px; 
  cursor: pointer; 
  transition: background-color 0.5s; 
}

.add-button-container button.mat-fab-button:hover {
  background-color: #10e01b; 
}



#l {
  font-size: 24px;
  color: #333;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}


@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@keyframes bounce {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px);
  }
}


#l::before {
  content: '';
  width: 40px;
  height: 40px;
  border: 5px solid #eadf17;
  border-top: 5px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

#l span {
  display: inline-block;
  animation: bounce 2s infinite;
  margin: 0 5px;
  color: #8b07ea;
}


@keyframes fadeInOut {
  0%, 100% {
      opacity: 1;
  }
  50% {
      opacity: 0.3;
  }
}

#l span:nth-child(1) {
  animation-delay: 0s;
}

#l span:nth-child(2) {
  animation-delay: 0.2s;
}

#l span:nth-child(3) {
  animation-delay: 0.4s;
}

#l span:nth-child(4) {
  animation-delay: 0.6s;
}

#l span:nth-child(5) {
  animation-delay: 0.8s;
}

#l span:nth-child(6) {
  animation-delay: 1s;
}

#l span {
  animation: fadeInOut 5s infinite;
}
