div {
  text-align: center;
  position: relative;
}
#y {
  font-size: 48px;
  color: #9a0bdc;
  margin-bottom: 40px;
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  animation: fadeInDown 5s ease;
}

@keyframes fadeInDown {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

#z, #a {
  display: inline-block;
  background-color: #e4c5e0;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 30px;
  margin: 20px;
  font-size: 35px;
  color: #a10ae7;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 250px;
  animation: fadeInUp 3s ease;
  position: relative;
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}


.icon {
  font-size: 50px;
  margin: 0 10px;
  animation: bounce 2s infinite;
}

.icon-gamepad {
  color: #e13812;
}

.icon-star {
  color: #ffd700;
}

.icon-trophy {
  color: rgb(103, 218, 103)
}

.icon-dice {
  color: #e20dcd;
  font-size: 60px;
}

@keyframes bounce {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
}

@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.icon-rotate {
  animation: rotate 4s linear infinite;
}

.star {
  width: 5px;
  height: 5px;
  background: rgb(193, 222, 6);
  position: absolute;
  top: -50px;
  left: -50px;
  border-radius: 500%;
  box-shadow: 0 0 10px yellow;
  animation: star 3.5s infinite ease-in-out;
}

@keyframes star {
  0% {
      transform: translateY(0) translateX(0) scale(1);
  }
  50% {
      transform: translateY(calc(100vh + 50px)) translateX(calc(100vw + 50px)) scale(0);
  }
  100% {
      transform: translateY(calc(100vh + 50px)) translateX(calc(100vw + 50px)) scale(0);
  }
}

button {
  display: inline-block;
  margin-top: 30px;
  padding: 15px 30px;
  font-size: 20px;
  color: #db0b0b;
  background-color: #f3ec99;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  animation: pulse 2s infinite;
}

button:hover {
  background-color: #daef66;
  transform: scale(1.1);
}

button:active {
  transform: scale(0.9);
}


@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.05);
  }
  100% {
      transform: scale(1);
  }
}


